/* NEW */
.new {
  display: flex;
  height: 0;
  width: 100%;
  padding: 0 6vw;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--Neutral-s-4);
  background-color: var(--Neutral-1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.new.active {
  height: max-content;
  padding: 12px 6vw;
}

.new-contact,
.new-contact-wa,
.new-contact-email {
  display: flex;
  align-items: center;
  gap: 12px;
}




